@model IEnumerable<Projekt_Programim_MVC.Models.Makina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="Cipa-content">
    <h1 class="heading" style="text-align: center;"> Cipa <span>Makinash</span> </h1>
    <div class="box-container">
        @foreach (var item in Model)
        {
            <a href="/Makina/Details/@Html.DisplayFor(modelItem => item.ID)">
                <div class="box">
                    <img src="~/Images/Uploaded/@Html.DisplayFor(modelItem => item.IMG)" />
                    <h3>@Html.DisplayFor(modelItem => item.Modeli)</h3>
                    <div class="price">@Html.DisplayFor(modelItem => item.Kosto1Dite)</div>
                </div>
            </a>
        }
    </div>
</div>
