@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><div class="fas fa-user"></div></a>
    <a asp-area="Identity" asp-page="/Account/Logout"><div class="fas fa-power-off"></div></a>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login"><div class="fas fa-sign-in-alt"></div></a>
    <a asp-area="Identity" asp-page="/Account/Register"><div class="fa fa-user-plus"></div></a>
}
