@model Projekt_Programim_MVC.Models.Rezervimet

@{
    ViewData["Title"] = "Rezervo Makine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(ViewBag.mesazh != null)
{
    <div class="alert alert-success">@ViewBag.mesazh</div>
}
<h4>Rezervimet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="number" name="kosto" value="@ViewBag.Kosto" hidden />
            <input type="number" name="id" value="@ViewBag.Id" hidden />
            <div class="form-group">
                <label asp-for="Date_Rezervimi" class="control-label"></label>
                <input asp-for="Date_Rezervimi" class="form-control" />
                <span asp-validation-for="Date_Rezervimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_kthimi" class="control-label"></label>
                <input asp-for="Date_kthimi" class="form-control" />
                <span asp-validation-for="Date_kthimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerTelefoni" class="control-label"></label>
                <input asp-for="NumerTelefoni" class="form-control" />
                <span asp-validation-for="NumerTelefoni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rezervo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
