@model IEnumerable<Projekt_Programim_MVC.Models.Tipi>

@{
    ViewData["Title"] = "Faqa kryesore";
}

<section class="home" id="home">

    <div class="content">
        <h3>Alba <span>Rent</span></h3>
        <p>Tek ne gjeni cilesi dhe garanci per sherbimet qe merrni.</p>
        <a href="/Mesazhe/New/" class="btn" style="border: 1px solid white; color: white;">Dergo nje mesazhe</a>
    </div>
</section>
    <div class="Cipa-content">
        <h1 class="heading" style="text-align: center; margin-top: 20px;"> Markat e <span>Makinave</span> </h1>
        <div class="box-container">
            @foreach (var item in Model)
            {
                <a href="/Makina/Index?marka=@Html.DisplayFor(modelItem => item.Emri)">
                    <div class="box">
                        <img src="~/Images/Uploaded/@Html.DisplayFor(modelItem => item.Ikona)" />
                    </div>
                </a>
            }
        </div>
    </div>